

{%extends "accounts-base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load account %}
{% block csslink %}
{% endblock %}
{% block title %}密码重置成功 {% endblock %}
{% block css %}
<style type="text/css">
.contentbg {
    background: #fff;
    position: fixed;
    top: 110px;
    bottom: 0;
    padding: 0 20px;

}
.accountbg {
    max-width: 500px;
    min-height: 350px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #cccccc;
    /*根据父级标签水平居中*/
    margin: 0 auto;

    position: relative;
    top: 100px;

    padding: 10px 30px;

}

.accountbg h2 {
    color: #0097ab;
    /*作用于子标签全部水平居中*/
    text-align: center;
}

.presentation {
    font-size: 14px;
    color: #7e7e7e;
     /*作用于子标签全部水平居中*/
    text-align: center;
    margin: 40px 0;
}



.list-group {
    margin: 0 auto;

    min-height: 235px;
    max-width: 370px;
    padding: 30px 0;
}


}
</style>
{% endblock%}
{% block content %}
<!-- content -->

    <div class="contentbg">
        <div class="accountbg">
            <h2>密码重置</h2>
            <hr>
            <div class="list-group">
            	 <!--如果已经登录显示提示
            	  {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %} -->
                
                <p class="presentation">密码重置成功，去<a href="/accounts/login/">登录</a></p>
              
            </div>
        </div>
    </div>

{% if messages %}
<div>
    <strong>Messages:</strong>
    {{messages.0}}
</div>
{% endif %}
{% endblock %}
{% block js %}
<script type="text/javascript">
//————————————————————————————————重置密码邮件发送成功———————————————————————————————————————————

</script>
{% endblock %}