{%extends "accounts-base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load account %}
{% block csslink %}
{% endblock %}
{% block title %}密码重置 {% endblock %}
{% block css %}
<style type="text/css">
.contentbg {
    background: #fff;
    position: fixed;
    top: 110px;
    bottom: 0;
    padding: 0 20px;

}

.accountbg {
    max-width: 500px;
    min-height: 350px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #cccccc;
    /*根据父级标签水平居中*/
    margin: 0 auto;

    position: relative;
    top: 100px;

    padding: 10px 30px;

}

.accountbg h2 {
    color: #0097ab;
    /*作用于子标签全部水平居中*/
    text-align: center;
}

.presentation {
    font-size: 14px;
    color: #7e7e7e;
     /*作用于子标签全部水平居中*/
    text-align: center;
    margin-bottom: 40px;
}

.form-group button {
    text-align: center;
}

.list-group {
    margin: 0 auto;

    min-height: 235px;
    max-width: 370px;
    padding: 30px 0;
}

.help-block {
    font-size: 11px;
    color: red;
    margin: 5px 0 0 0;

}
#submit{
    margin-top: 30px;
}
#submit button {
    margin-right: 10px;
    width: 42px;
    height: 30px;
    padding: 3px 6px;
    background-color: #00afc6;
    color: #fff;
}

#submit button :hover {
    background-color: #0093a6;
    color: #fff;
}

/*————————————————————css3实现水纹点击————————————————————————*/
.usercontrol a:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .3s, opacity .5s;
}

.usercontrol a:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}
</style>
{% endblock%}
{% block content %}
<!-- content -->

    <div class="contentbg">
        <div class="accountbg">
            <h2>密码重置</h2>
            <hr>
            <div class="list-group">
             
                <p class="presentation">我们将给您发送一封e-mail以便重置密码</p>
                <form class="form-horizontal" method="POST" action="{% url 'account_reset_password' %}" class="password_reset" novalidate='novalidate'>
                    {% csrf_token %}
                    <!-- 只显示email字段 -->
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}" class="col-sm-3 control-label">{{form.email.label}}</label>
                        <div class="col-sm-9">
                            {{ form.email|add_class:'form-control' }}
                            <span class="help-block">{{ form.email.errors.0 }}</span>
                        </div>
                    </div>
                    <div id='submit' class="form-group">
                        <div class="col-sm-offset-3 col-sm-10">
                            <button id="sendemail" class='btn' type='submit'>发送</button>
                            <a href="{{ login_url }}">
                                <button class='btn' type='button'>取消</button>
                            </a>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>

</div>
{% if messages %}
<div>
    <strong>Messages:</strong>
    {{messages.0}}
</div>
{% endif %}
{% endblock %}
{% block js %}
<script type="text/javascript">
//————————————————————————————————重置密码邮件发送成功———————————————————————————————————————————

</script>
{% endblock %}