{%extends "accounts-base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load account %}
{% block csslink %}
{% endblock %}
{% block title %}验证邮箱{% endblock %}
{% block css %}
<style type="text/css">
.contentbg {
    background: #fff;
    position: fixed;
    top: 110px;
    bottom: 0;
    padding: 0 20px;

}

.accountbg {
    max-width: 500px;
    min-height: 350px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #cccccc;
    /*根据父级标签水平居中*/
    margin: 0 auto;

    position: relative;
    top: 100px;

    padding: 10px 30px;

}

.accountbg h2 {
    color: #0097ab;
    /*作用于子标签全部水平居中*/
    text-align: center;
}

.presentation {
    font-size: 17px;
    color: #7e7e7e;
    /*作用于子标签全部水平居中*/
    text-align: center;
    margin: 40px 0;
}

.list-group {
    margin: 0 auto;
    min-height: 235px;
    max-width: 370px;
    padding: 30px 0;
    line-height: 28px;
}
</style>
{% endblock%}
{% block content %}
<!-- content -->
<div class=" contentbg">
    <div class="accountbg">
        <h2>验证邮箱</h2>
        <hr>
        <div class="list-group">
            <p class="presentation">我们已向您发了一封验证邮件<br>请点击邮件中的链接完成注册流程</p>
        </div>
    </div>
</div>
{% if messages %}
<div>
    <strong>Messages:</strong>
    {{messages.0}}
</div>
{% endif %}
{% endblock %}
{% block js %}
<script type="text/javascript">
</script>
{% endblock %}